@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
   font-family: 'Roboto', sans-serif; 
   color: #4B4B4B;
   font-size: 16px;
   font-weight: 400;
   background-color: #F5F5F5;
}

.main {
   flex-grow: 1;
   
}

.header {
   background-color: rgb(255, 127, 7);
   padding: 30px;
   color: #000000;
}

.promise {
   padding: 50px 0px 122px 0px;
   
}
[class*=__container] {
   max-width: 1020px;
   margin: 0 auto;
   box-sizing: content-box;
   /* background-color: rgba(186, 241, 163, 0.753); */
}
.promise__titles {
   margin: 0px 0px 68px 0px;
}

.titles {
}
.titles__subtitle {
   font-weight: 700;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 2.5px;
   text-transform: uppercase;
   color: #5D62B5;
   background: url('../img/subtitle-icon.svg') 0px -2px no-repeat;
   padding: 0px 0px 0px 33px;
   margin: 0px 0px 33px 0px;
}
.titles__title {
   font-weight: 900;
   font-size: 36px;
   line-height: 1.17;
   color: #000000;
   font-weight: 900;
}

/* Контейнер для карточек */
.promise__items {
   display: flex;
   margin: 0px -12px;
   flex-wrap: wrap;
   /* border: 1px solid black; */
   row-gap: 23px;
}
.items {
}

/* Отдельная карточка */
.items__item {
   display: flex;
   flex: 1 1 33.333%;
   min-width: 260px;
   align-items: flex-start;
   padding: 0px 12px;
   column-gap: 23px;
   /* background-color: rgba(185, 64, 64, 0.329); */
}
.items__image {
   flex: 0 0 63px;
}
.items__body {
}
.body {

}
.title-body {
   font-weight: 900;
   font-size: 19px;
   line-height: 1.37;
   color: #F2726F;
   margin: 0px 0px 20px 0px;
}

.text-body {
   font-weight: 400;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.15px;
   color: #4B4B4B;
}

/*____________________ services ____________________ */

.services {
   padding: 0px 0px 113px 0px;
}
.services__container {
   display: flex;
   flex-direction: column;
}
.services__titles {
   margin: 0px 0px 78px 0px;
}
.titles {
}
.titles__subtitle {
}
.titles__title {
}


/*__________ Контейнер __________ */

.services__cards {
   margin: 0px -12px;
   row-gap: 24px;
   display: flex;
   flex-wrap: wrap; 
   padding: 0px 5px;
}

.cards {
   
   
}

/*__________ Flex-Элемент __________ */

.cards__card {
   margin: 0px 12px;
}
.card {
   background: #FFFFFF;
   border-radius: 20px;
   flex: 1 1 320px;
   
}

/*__________ Контент Flex-Элемента __________ */

.card__content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 50px 44px;
}

.card__icon {
   margin: 0px 0px 33px 0px;
}

.card__icon img {
   max-width: 100%;
   max-height: 63px;
}


.card__title {
}
.title-body {
}
.card__text {
}
.text-body {
}
.button {
   display: inline-flex;
   background: #F2726F;
   border-radius: 8px;
   text-align: center;
   align-items: center;
   align-self: center;
   text-transform: uppercase;
   color: #FFFFFF;
   padding: 9px 25px;
   font-weight: 700;
   font-size: 12px;
   line-height: 2;
   letter-spacing: 0.15px;

}

.button_margin {
   margin: 66px 0px 0px 0px;
}





.footer {
   padding: 30px;
   background-color: rgb(255, 127, 7);
   color: #000000;
}

